* {

  box-sizing: border-box;

}

body {

  margin: 0;
  padding: 0;

  color: #111;
  font-size: 18px;
  font-family: system-ui, sans-serif;

  background: white;

}

main {

  max-width: 680px;

  margin: 0 auto;

  padding: 80px 24px;

  line-height: 2.4;

}

a {

  color: #111;
  text-decoration: none;
  transition: color 0.3s ease;

}

a:hover {

  color: #888;

}

details {

  margin-bottom: 24px;

}

.site-header {

  font-family: "jimbo-std-expanded", sans-serif;

  font-size: 42px;
  text-align: center;

  margin-bottom: 100px;

  letter-spacing: 0.02em;

  transform: translateY(-20px);

}

.post-title {

  font-family: "jimbo-std-expanded", sans-serif;

  font-size: 28px;

  text-align: center;

  margin-bottom: 100px;

  letter-spacing: 0.02em;

  transform: translateY(-20px);

}

.months-back {

  position: fixed;

  top: 40px;

  left: 40px;

}

.months-back a {

  color: #111;

  text-decoration: none;

  font-family: "jimbo-std-expanded", sans-serif;

  font-size: 18px;

  letter-spacing: 0.02em;

}

.top-nav {

  display: flex;

  flex-direction: column;

  align-items: center;

  text-align: center;

}

/* iPad 縦 */

@media (min-width: 768px)
and (max-width: 1023px)
and (orientation: portrait) {

  .top-nav {

    margin-top: 120px;

    gap: 28px;

  }

  .top-nav a {

    color: #111;

    text-decoration: none;

    font-family: "jimbo-std-expanded", sans-serif;

    font-size: 20px;

    letter-spacing: 0.02em;

  }

}

/* iPad 横 */

@media (min-width: 768px)
and (max-width: 1366px)
and (orientation: landscape) {

  .site-header {

    margin-bottom: 38px;

  }

  .top-nav {

    margin-top: 60px;

    gap: 32px;

  }

  .top-nav a {

    color: #111;

    text-decoration: none;

    font-family: "jimbo-std-expanded", sans-serif;

    font-size: 20px;

    letter-spacing: 0.02em;

  }

}

/* Mac */

@media (min-width: 1367px) {

  .top-nav {

    margin-top: 180px;

    gap: 36px;

  }

  .top-nav a {

    color: #111;

    text-decoration: none;

    font-family: "jimbo-std-expanded", sans-serif;

    font-size: 22px;

    letter-spacing: 0.02em;

  }

}

summary {

  list-style: none;

  cursor: pointer;

  font-family: "jimbo-std-expanded", sans-serif;

  font-size: 18px;

  letter-spacing: 0.02em;

  margin-bottom: 24px;

}

summary::-webkit-details-marker {

  display: none;

}

details summary::before {

  content: "⌵";

  display: inline-block;

  margin-right: 10px;

  transition: transform 0.2s ease;

}

details[open] summary::before {

  transform: rotate(180deg);

}

details div {

  margin-bottom: 18px;

  font-size: 20px;

}

.post-nav {

  margin-top: 40px;

  display: flex;

  justify-content: center;

  gap: 40px;

  font-size: 18px;

  font-family: "jimbo-std-expanded", sans-serif;

  letter-spacing: 0.02em;

}

.post-nav a {

  color: #111;
  text-decoration: none;

}

.footer {

  text-align: center;

  font-family: serif;

  color: black;

  width: 100%;

  line-height: 1.6;

  padding-bottom: 38px;

}

.post-footer {

  margin-top: 60px !important;

}

.touch {

  font-size: 16px;

  margin-bottom: 6px;

}

.part {

  font-size: 14px;

  margin-bottom: 6px;

}

.links {

  font-size: 14px;

  margin-bottom: 6px;

}

.copyright {

  font-size: 13px;

}

img {

  width: 100%;
  height: auto;

  display: block;

  margin: 60px 0;

}

/* iPad 縦 */

@media (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait) {

  .footer {

    margin-top: 300px;

  }

}

/* iPad 横 */

@media (min-width: 768px)
and (max-width: 1366px)
and (orientation: landscape) {

  .footer {

    margin-top: 0;

  }

}

/* Mac */

@media (min-width: 1367px) {

  .footer {

    margin-top: 300px;

  }

}

.bookmark-image {

  width: 240px !important;

  min-width: 240px !important;

  max-width: 240px !important;

  height: auto !important;

  display: inline-block;

  margin: 0 !important;

}
