<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://use.typekit.net/qsa5fag.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>

<body>

<main>
  {{ content }}
</main>

{% if page.url != "/" %}

<div class="post-nav">

  {% if page.previous.url %}
    <a href="{{ page.previous.url | relative_url }}">
      &lt; back
    </a>
  {% endif %}

  <a href="{{ '/' | relative_url }}">
    home
  </a>

  {% if page.next.url %}
    <a href="{{ page.next.url | relative_url }}">
      next &gt;
    </a>
  {% endif %}

</div>

{% endif %}

<div class="footer {% if page.url != '/' %}post-footer{% endif %}">

  <div class="touch">
    <a href="mailto:jemmusicja@duck.com">GET IN TOUCH</a>
  </div>

  <div class="part">
    <em>Je'm is part of</em> OHLUCINDA
  </div>

  <div class="links">
    <a href="https://music.apple.com/jp/artist/jem/1864719862?l=en-US" target="_blank">Je'm</a> |
    <a href="https://music.apple.com/jp/artist/aquawits/1873995916?l=en-US" target="_blank">AQUAWITS</a> |
    <a href="https://music.apple.com/jp/artist/ohlucinda/1840163010?l=en-US" target="_blank">OHLUCINDA</a> |
    <a href="https://sites.google.com/view/jemmusicja/" target="_blank">Journal</a> |
    <a href="https://unsplash.com/@ohlucinda" target="_blank">Images</a> |
    <a href="https://gemdtp.ohlucinda.com" target="_blank">gem</a>
  </div>

  <div class="copyright">
    © 2024 All rights reserved
  </div>

</div>

</body>
</html>
